.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: min(25vh, 25vw);
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.game-board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 100%
}

button[data-is-winner=true] {
  background: yellow
}
